{% extends "home.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Edit Your Book Here!!!</h1>
    <form action="{% url 'hotel:update_success' pk=k1.0 %}" method="post">
        {% csrf_token %}
        Name:<input type="text" name="Name" placeholder="{{k1.1}}" value="{{k1.1}}"><br><br>
        Address:<input type="text" name="Address" placeholder="{{k1.2}}" value="{{k1.2}}"><br><br>
        Phone Number:<input type="text" name="phone_number" placeholder="{{k1.3}}" value="{{k1.3}}"><br><br>
        Number Of Room:<input type="number" name="number_of_room" placeholder="{{k1.4}}" value="{{k1.4}}">
        <br><br>
        <input type="submit" class="btn btn-success" value="Update">
    </form>
</div>
{% endblock %}