<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a class="navbar-brand " href="">Welcome : {{user.username}}</a></li>
            {% else %}
            <li><a class="navbar-brand " href="{% url 'home' %}">Home</a></li>
            {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'feedback:feedback_list' %}" class="navbar-brand ">See-Feedback</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'feedback:feedback_form' %}" class="navbar-brand ">Give-Feedback</a></li>
                <li><a href="{% url 'hotel:hotel' %}" class="navbar-brand ">Hotel-And-Book</a></li>
                <li><a href="{% url 'hotel:hotel_book_list' %}" class="navbar-brand">See-Book</a></li>
                <li><a href="{% url 'accounts:logout' %}" class="navbar-brand">Logout</a></li>
                {% else %}
                <li><a href="{% url 'accounts:login' %}" class="navbar-brand">Login</a></li>
                <li><a href="{% url 'accounts:signup' %}" class="navbar-brand">Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        <h1>Some Famous Visiting Places of Chitwan</h1>
        <br>
        <h1>1. Chitwan National Park</h1>
        <img src="{% static 'WTC/cnp1.jpg' %}" alt="cnp1">
        <br><br>
        <p>Chitwan National Park is the first national park in Nepal. It was established in 1973 and granted the status of a World
        Heritage Site in 1984. It covers an area of 952.63 km2 (367.81 sq mi) and is located in the subtropical Inner Terai
        lowlands of south-central Nepal in the districts of Nawalpur, Parsa, Chitwan and Makwanpur. In altitude it ranges from
        about 100 m (330 ft) in the river valleys to 815 m (2,674 ft) in the Churia Hills.</p>

        <h1>2. Narayani Beach</h1>
        <img src="{% static 'WTC/narayanibeach1.jpg' %}"alt="narayanibeach1">
        <br><br>
        <p>Chitwan National Park is the first national park in Nepal. It was established in 1973 and granted the status of a
            World
            Heritage Site in 1984. It covers an area of 952.63 km2 (367.81 sq mi) and is located in the subtropical Inner Terai
            lowlands of south-central Nepal in the districts of Nawalpur, Parsa, Chitwan and Makwanpur. In altitude it ranges
            from
            about 100 m (330 ft) in the river valleys to 815 m (2,674 ft) in the Churia Hills.</p>

        <h1>3. Bishazari Taal (20 Thousand Lake)</h1>
        <img src="{% static 'WTC/bishazaritaal1.jpg' %}" alt="bishazaritaal1">
        <br><br>
        <p>20 Thousand Lake Chitwan which is know as 20 Hajar Tal is renowned for Bird Watching place and home of different species
        of birds along with migrant birds. 20 Thousand Lake is also famous for alternative Jeep Safari when inside National Park
        Jeep Safari is closed.</p>
        
        <h1>4. Jalbire Waterfall</h1>
        <img src="{% static 'WTC/jalbirewaterfall1.jpg' %}" alt="jalbirewaterfall1">
        <br><br>
        <p>Jalbire Waterfall (also known as Lamo Jharana) is a popular and beautiful waterfall located in Chabdibhanjyang VDC of
        Chitwan district of central Nepal. ... The waterfall is located just about 20 minutes of walk from Jalbire temple
        situated at Narayangarh-Muglin highway which is about 60 meters tall.</p>

        <h1>5. Golaghat</h1>
        <img src="{% static 'WTC/golaghat1.jpg' %}" alt="golaghat1">
        <br><br>
        <p>Golaghat is around 25 km far from Bharatpur, which is the head quarter of Chitwan district. It is known as one of the
        richest place of Nepal in terms of wildlife and birds. It lies in the Buffer zone area. Rafters, after their long,
        exciting and adventurous white water trip can come to rest here and witness the diverse wildlife, panoramic views of the
        Himalayas and sunset on the Narayani and Rapti River. Mostly Tharus, Kumal and Bote reside near Golaghat .
        
        Free Shipping is available ( framing included) worldwide via EMS Service Provided by Nepal post office.</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>